.header {
  position: relative;
}

.header-image {
  width: 100%;
  height: 250px;
  background-image: url('../assets/img-large.png');
  background-size: cover;
}

.header-text {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(217, 217, 217, 0.5);
  bottom: 0px;
  padding: 20px 0;
}

.header-text-mobile {
  position: relative;
  margin-top: 0;
  background: none;
}

.main {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .header-image {
    height: 170px;
    background-image: url('../assets/img-small.png');
  }

  .main {
    margin-top: 1.5rem;
  }
}