body {
  margin: 0;
}

@font-face {
  font-family: "Freight";
  src: url('../../public/fonts/Freight-Sans-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url('../../public/fonts/Freight-Sans-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url('../../public/fonts/Freight-Sans-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../../public/fonts/Roboto-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../../public/fonts/Roboto-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group-error > .dropdown-control > button {
  border: 1px solid #EF4444;
  color: #EF4444;
}

.form-group-error > .dropdown-control > button::after {
  filter: invert(40%) sepia(44%) saturate(4629%) hue-rotate(339deg) brightness(104%) contrast(87%);
}

.form-group-error > .input-control {
  border: 1px solid #EF4444;
  color: #EF4444;
}

.text-error {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #EF4444;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .text-error {
    font-size: 16px;
  }
}