@font-face {
  font-family: "Freight";
  src: url('../../public/fonts/Freight-Sans-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url('../../public/fonts/Freight-Sans-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url('../../public/fonts/Freight-Sans-Bold.otf');
  font-weight: bold;
  font-style: normal;
}